<h1>Edit Venue</h1>
<%= render partial: "layouts/error", locals: { object: @venue } %>

<h4>
<%= form_for(@venue) do |f| %>
    <%= render partial: "form", locals: { f: f } %>

    <br>
    <%= f.submit %>
<% end %>
</h4>