
<h1> Venues </h1>

<% @venues.each do |venue| %>
  <ul>
  <li>
  <h2>
  <%= link_to venue.name_and_address, venue_weddings_path(venue) %>
  <br>
  <h3>Price:</h3> <%= number_to_currency(venue.price) %>
  </ul>
  </li>
  </h2>
  <% end %>