<h1>Weddings<h1>

<% @weddings.each do |wedding| %>
    <ul>
    <li>
    <%= link_to wedding.title_and_color_scheme, wedding_path(wedding)%> 
    <%= link_to wedding.entertainment_and_flowers, wedding_path(wedding)%>
    </ul>
    </li>
<% end %>

